<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>Hello this is my an express project</h1>
    <h2>Ise swagger to work with data</h2>
    <p>/api-docs</p>
    <h2>Use Postman to work with data</h2>
    <h2>Add this parts to your url link in order to get or do something with data</h2>
    <h3>GET methods</h3>
    <p>/all_items</p>
    <p>/get_firstLevel/:first_id</p>
    <p>/get_secondLevel/:first_id/:second_id</p>
    <p>/get_thirdLevel/:first_id/:second_id/:third_id</p>
    <p>/get_fourthLevel/:first_id/:second_id/:third_id/:fourth_id</p>
    <h3>POST methods</h3>
    <p>/post_firstLevel</p>
    <p>/post_secondLevel</p>
    <p>/post_thirdLevel</p>
    <p>/post_fourthLevel</p>
    <h3>PUT methods</h3>
    <p>/update_firstLevel/:first_id</p>
    <p>/update_secondLevel/:first_id/:second_id</p>
    <p>/update_thirdLevel/:first_id/:second_id/:third_id</p>
    <p>/update_fourthLevel/:first_id/:second_id/:third_id/:fourth_id</p>
    <h3>DELETE methods</h3>
    <p>/delete_firstLevel/:first_id</p>
    <p>/delete_secondLevel/:first_id/:second_id</p>
    <p>/delete_thirdLevel/:first_id/:second_id/:third_id</p>
    <p>/delete_fourthLevel/:first_id/:second_id/:third_id/:fourth_id</p>
</body>
</html>